html, body {
  height: 100%;
  margin: 0px;
  background-color: #EFEFEF;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
